<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>
  <arg name="robot_model" default="v1"/>
  <arg name="end_effector_right" default="$(eval {'v1': 'ari-hand', 'v2': 'false'}.get(arg('robot_model'), 'false'))"/>
  <arg name="end_effector_left" default="$(eval {'v1': 'ari-hand', 'v2': 'false'}.get(arg('robot_model'), 'false'))"/>
  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)" 
    command="xacro --inorder
    '$(find ari_description)/robots/ari.urdf.xacro' 
    robot_model:=$(arg robot_model)    
    end_effector_right:=$(arg end_effector_right)
    end_effector_left:=$(arg end_effector_left)"/>

  <arg name="laser_model" default="false"/>
  <arg name="laser_suffix" value="$(eval ('_laser' if laser_model else ''))"/>
  <!-- The semantic description that corresponds to the URDF -->
  <arg name="srdf" default="ari_$(arg robot_model)$(arg laser_suffix).srdf"/>
  <param name="$(arg robot_description)_semantic" textfile="$(find ari_moveit_config)/config/$(arg srdf)"/>

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find ari_moveit_config)/config/joint_limits_$(arg robot_model).yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find ari_moveit_config)/config/kinematics.yaml"/>
  </group>

</launch>
