<?xml version="1.0"?>
<launch>
  <arg name="robot_model" default="v1"/>
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ari_moveit_config)/config/ros_controllers_$(arg robot_model).yaml" command="load"/>

  <!-- Load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="ari" args=""/>

  <!-- Convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="ari/joint_states" />
  </node>

</launch>
